table {
    width: 1000px;
    height: auto;
    border: solid 1px #000;
    border-collapse: collapse;
}

tr {
    clear: both;
    width: 100%;
    height:auto;
    border: solid 1px #000;
    text-align: center;
}

td {
    border: solid 1px #000;
    border-collapse: collapse;
    padding: 20px;
}

img {
    width: 400px;
    height: auto;
}
.box{
    margin: 0 auto;
    padding: 0px;
    width: 500px;
    height: auto;
    border: solid 1px #f00;
    position: fixed;
    left: 50%;
    top: 40%;
    margin-left: -250px;
    text-align: center;
    background: #fff;
    z-index: 99;
    padding: 20px;
    display: none;
    font-size: 12px;
    background: #95B8E7;
}